body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

div.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-right {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(245, 246, 250,0.7);
  margin-right: 10px;
  font-family: "Quicksand", sans-serif;
  overflow: auto;
  border-radius: 3px;
  }

#January2022 {
  top: 0;
  height: 25px;
  margin-top: 20px;
  width: 130px;
  text-align: center;
  }

.map-left {
  position: absolute;
  bottom: 0;
  right: 1;
  background: rgba(245, 246, 250,0.7);
  margin-left: 10px;
  font-family: "Quicksand", sans-serif;
  overflow: auto;
  border-radius: 3px;
  }

#January2020 {
  top: 0;
  height: 25px;
  margin-top: 20px;
  width: 130px;
  text-align: center;
  }